<div class="container">
  <!-- Web Pages List -->
  <div id="links-container" ui-sortable ng-model="pages">
    <div class="input-group link-block" ng-repeat="page in pages">
      <div class="link-block-fill" ng-class="'{{page.category}}'">
        <p class="link-button" >
          <a href="{{page.link}}">
            <span class="link-caption">{{page.caption}}</span>
          </a>
          <button class="btn btn-link btn-xs" ng-click="removePage($index)" aria-label=" Remove">X</button>
        </p>
      </div>
    </div>
  </div>

  <!-- Add Pages Modal Dialog -->
  <div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="AddPageModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Web Page</h3>
        </div>
        <div class="modal-body">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <h5>URL:</h5>
            <input type="text" ng-model="link" placeholder="http://nytimes.com" class="form-control">
            <h5>Caption:</h5>
            <input type="text" ng-model="caption" placeholder="NY Times" class="form-control">
            <h5>Category:</h5>
             <div class="btn-group" dropdown is-open="status.isopen" ng-model="categories">
              <button type="button" class="btn category-dropdown" dropdown-toggle>
                <div>
                  <div class="{{selected.category}} category-color"></div>
                  {{ selected.category }}
                  <span class="caret"></span>
                  </div>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="choice in categories">
                  <a href ng-click="changeCategory($index)">
                    <div class="category-color" ng-class="'{{choice}}'"></div>
                    {{choice}}
                  </a>
                </li>
              </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Add</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!-- Add Pages Button -->
    <p>
      <button class="btn btn-lg btn-primary addLink-button" ng-click="open()" aria-label=" Add Link">+ Add Link</button>
    </p>
  </div>
</div>
